@use "/src/styles/colors.scss" as colors;
@use "/src/styles/variables.scss" as variables;

.container {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 50;
  height: fit-content;
  width: 400px;
  background-color: colors.$white;
  padding: 24px;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 40px;
  font-size: variables.$font-sm;
}

.crossIcon {
  cursor: pointer;
}
