//basic
$white: #fff;
$black: #000;
//neutral
$neutral-5: #f9f9f9;
$neutral-10: #dee2e6;
$neutral-20: #dcdbdb;
$neutral-25: #dcdbdb;

//darkblue
$darkblue-3: #f7f9fb;
$darkblue-10: #e5ebf0;
$darkblue-100: #003369;

//gray
$gray-50: #6c757d;
