//basic
$white: #fff;
$black: #000;
//neutral
$neutral-5: #f9f9f9;
$neutral-10: #dee2e6;
//darkblue
$darkblue-3: #f7f9fb;
$darkblue-10: #e5ebf0;
$darkblue-100: #003369;

//gray
$gray-50: #6c757d;

/*
colors: {
    transparent: 'transparent',
    darkblue: {
      3: '#F7F9FB',
      5: '#F2F5F7',
      10: '#E5EBF0',
      15: '#D9E0E9',
      25: '#BFCCD9',
      40: '#99ADC3',
      70: '#4D7096',
      100: '#003369',
      110: '#002E5E',
      120: '#192F52',
    },
    lightblue: {
      3: '#F7FBFC',
      5: '#F2FAFD',
      10: '#E6F5FB',
      20: '#D5EEF8',
      25: '#BFE5F6',
      40: '#99D6F0',
      70: '#4DB8E5',
      100: '#0099DA',
      110: '#008AC4',
      120: '#007AAE',
      140: '#00568B',
    },
    lightgreen: {
      5: '#F3FCFA',
      10: '#E6F9F4',
      25: '#C1F1E4',
      40: '#9CE9D3',
      70: '#52D8B3',
      100: '#08C792',
      110: '#07B383',
      120: '#069F75',
    },
    neutral: {
      3: '#FCFCFC',
      5: '#F9F9F9',
      6: '#F3F3F3',
      10: '#F1F1F1',
      12: '#ECEAEAEA',
      15: '#E1E1E1',
      25: '#DCDBDB',
      30: '#C7C5C5',
      50: '#9D9A9A',
      70: '#736F6F',
      85: '#565353',
      100: '#393737',
    },
    red: {
      5: '#FEF4F5',
      10: '#FDEAEB',
      25: '#FAC9CD',
      40: '#F8A9B0',
      70: '#F26974',
      100: '#ED2939',
      110: '#C92C39',
      120: '#A52F38',
      130: '#A61D28',
    },
    pink: {
      60: '#FD6F8E',
    },
    yellow: {
      10: '#F5F9E6',
      20: '#FCF3D1',
      100: '#F1C21B',
      110: '#FFF86D',
    },
    orange: {
      10: '#FFF3EC',
      20: '#FFE6D9',
      30: '#FFDAC5',
      100: '#FF832B',
      120: '#CC6A32',
    },
    green: {
      100: '#24A148',
    },
    gray: {
      200: '#EAECF0',
    },
    coral: {
      100: '#ED6A5B',
    },
    black: '#000000',
    white: '#FFFFFF',
    error: {
      500: '#F04438',
    },
  },*/
