@use "/src/styles/colors.scss" as colors;
@use "/src/styles/variables.scss" as variables;

.header {
  display: flex;
  align-items: center;
  background-color: colors.$darkblue-10;
  width: 100%;
  height: 50px;
  &__title {
    font-size: variables.$font-xl;
    text-align: center;
    flex: 1 0 0;
  }
  &__goBack {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
